@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    background-color: rgb(112, 112, 112);
    background-size: contain;
    background-repeat: repeat-y;
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    height: 80px;
    background-color: #B4B9E5;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.7em;
}

.title {
    margin-left: 1em;
}

.titlename {
    margin-left: -20em;
}

.img-circle {
    border-radius: 100%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.container {
    background-color: #E5DDF4;
}

.firstcard {
    margin-top: 2em;
}

.btn {
    color: #3c0646;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #B4B9E5;
    color: #000000;
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
}

.footerword {
    font-weight: 300;
    font-size: 12px;
}