@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    background-color: #fefefe;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #e8e8e8;
}

.bgi {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.content {
    width: 90vw;
}

.left {
    margin-top: 8vh;
    color: #2d2d2d;
    z-index: 2;
}

.right {
    z-index: 3;
}

.myphoto {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.title {
    font-size: 2.3em;
    letter-spacing: 0.05em;
    font-weight: bolder;
}

.intro {
    font-size: 0.8em;
    letter-spacing: 0.03em;
}

.modal {
    z-index: 3;
}

.modal-dialog {
    z-index: 3;
}

.btn-con {
    z-index: 3;
}

.btns {
    width: 2em;
    height: 2em;
    margin-top: 75vh;
    margin-right: 1vw;
}

.email {
    margin-top: 2vh;
    font-size: 1.3em;
    color: #fefefe;
}

@media (max-width: 767px) {
    .img {
        display: none;
    }
    .left {
        margin-top: 5vh;
    }
    .title {
        font-size: 2em;
    }
    .intro {
        font-size: 0.9em;
    }
}