@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    background-color: #fefefe;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #e8e8e8;
}

.bgi {
    z-index: -2;
}

img {
    opacity: 0.4;
    width: 85vw;
    height: 100vh;
}

.content {
    width: 85vw;
}

.left {
    margin-top: 65vh;
    color: #2d2d2d;
    z-index: 2;
}

.right {}

.title {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    opacity: 1;
}

.btn {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 0.3em #2d2d2d double;
    background-color: #2d2d2db4;
    margin-top: 2em;
}

@media (max-width: 767px) {
    .img {
        display: none;
    }
    .left {
        margin-top: 5vh;
    }
}