@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    background-color: #dfe9f5;
    background-size: contain;
    background-repeat: repeat-y;
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    color: #2d2d2d;
}

.tabs {
    margin-top: 3vh;
}

.tabbtn {
    border-radius: 0.3em;
    border: none;
    background-color: rgb(249, 252, 255);
    letter-spacing: 0.1em;
}

.active {
    color: #666666;
    background-color: #fff;
    border-radius: 1.5em;
}

header {
    width: 100vw;
    height: 3.5em;
    background-color: #B4B9E5;
    align-items: flex-end;
    justify-content: space-between;
}

.tomain {
    width: 3em;
}

.titlename {
    margin-left: 1em;
    letter-spacing: 0.1em;
}

.img-circle {
    border-radius: 100%;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate__animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    margin: 2em;
}

.square h4 {
    font-size: 1.6em;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5em;
}

p {
    letter-spacing: 0.2em;
    margin-top: 0.5m;
}

.work1:hover .work1info {
    opacity: 100%;
}

.work2:hover .work2info {
    opacity: 100%;
}

.work3:hover .work3info {
    opacity: 100%;
}

.work4:hover .work4info {
    opacity: 100%;
}

.work5:hover .work5info {
    opacity: 100%;
}

.work6:hover .work6info {
    opacity: 100%;
}

.work7:hover .work7info {
    opacity: 100%;
}

.work8:hover .work8info {
    opacity: 100%;
}

.work9:hover .work9info {
    opacity: 100%;
}

.work1info,
.work2info,
.work3info,
.work4info,
.work5info,
.work6info,
.work7info,
.work8info,
.work9info {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 400px;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.726);
}

.bios {
    color: #7849c5;
}

.bios:hover {
    color: #56338f;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #B4B9E5;
    color: #000000;
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
}

.footerword {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.animated.headShake {
    --animate-duration: 5s;
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.mail {
    color: #0f2658;
}

.mail:hover {
    color: #1f48a8;
}

@media(max-width:768px) {
    header {
        height: 4em;
    }
    nav {
        font-size: 0.8em;
    }
}